<nav>
<div class="nav-wrapper purple darken-3">
  <a href="#" class="brand-logo">StUkDoO</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="sass.html">Sass</a></li>
  </ul>
</div>
</nav>
